.navbar4-container {
  width: 100%;
  display: flex;
  position: relative;
  justify-content: center;
  background-color: var(--dl-color-theme-neutral-light);
}
.navbar4-navbar-interactive {
  width: 100%;
  height: auto;
  display: flex;
  z-index: 1000;
  position: fixed;
  max-width: 100%;
  align-items: center;
  padding-top: 15px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  justify-content: center;
}
.navbar4-nav {
  flex: 0 0 auto;
  color: var(--dl-color-secondary-600);
  width: 93%;
  height: 60px;
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  box-shadow: 0 .25rem .375rem -.0625rem hsla(0,0%,8%,.12),0 .125rem .25rem -.0625rem hsla(0,0%,8%,.07)!important;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unitandahalfunit);
  border-radius: var(--dl-radius-radius-radius40);
  padding-right: var(--dl-space-space-unitandahalfunit);
  animation-name: fadeInDown;
  flex-direction: row;
  padding-bottom: var(--dl-space-space-halfunit);
  animation-delay: 0s;
  backdrop-filter: saturate(200%) blur(30px);
  justify-content: space-between;
  background-color: hsla(0,0%,100%,.8)!important;
  animation-duration: 1300ms;
  animation-direction: normal;
  -webkit-backdrop-filter: saturate(200%) blur(30px);
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.navbar4-navlink {
  display: contents;
}
.navbar4-image {
  width: auto;
  height: 100%;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-round);
  text-decoration: none;
}
.navbar4-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.navbar4-links {
  gap: var(--dl-space-space-twounits);
  flex: 1;
  height: var(--dl-size-size-small);
  display: flex;
  max-width: 600px;
  align-self: center;
  align-items: center;
  margin-left: var(--dl-space-space-twounits);
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-halfunit);
  border-radius: 12px;
  padding-right: var(--dl-space-space-halfunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: center;
}
.navbar4-link2 {
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}
.navbar4-link3 {
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}
.navbar4-link4 {
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}
.navbar4-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: var(--dl-space-space-twounits);
  z-index: 1001;
  position: absolute;
  flex-direction: column;
  background-color: var(--dl-color-theme-neutral-light);
}
.navbar4-container1 {
  flex: 0 0 auto;
  width: 200px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.navbar4-nav1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.navbar4-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.navbar4-navlink1 {
  display: contents;
}
.navbar4-image1 {
  width: 5%;
  height: auto;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-round);
  text-decoration: none;
}
.navbar4-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar4-image2 {
  width: 200px;
  object-fit: cover;
}
.navbar4-links1 {
  gap: var(--dl-space-space-unit);
  flex: 0 0 auto;
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.navbar4-container2 {
  flex: 0 0 auto;
  width: 200px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.navbar4-link21 {
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}
.navbar4-link31 {
  text-transform: uppercase;
  text-decoration: none;
}
.navbar4-link41 {
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}
.navbar4-container3 {
  flex: 0 0 auto;
  width: 200px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.navbar4-link {
  color: rgb(0, 0, 0);
  margin: 3px;
  outline: none;
  font-size: 0.75rem;
  box-shadow: rgba(0, 0, 0, 0.11) 0px 4px 7px -1px, rgba(0, 0, 0, 0.07) 0px 2px 4px -1px;
  font-style: normal;
  transition: all .15s ease-in;
  font-family: "Inter";
  font-weight: 700;
  line-height: 1.4;
  padding-top: var(--dl-space-space-triplequarterunit);
  border-width: 0px;
  padding-left: var(--dl-space-space-unitandahalfunit);
  border-radius: 1.875rem;
  padding-right: var(--dl-space-space-unitandahalfunit);
  letter-spacing: -0.025rem;
  padding-bottom: var(--dl-space-space-triplequarterunit);
  text-transform: uppercase;
  text-decoration: none;
  background-color: #ffffff;
}
.navbar4-link1 {
  color: var(--dl-color-gray-white);
  margin: 3px;
  outline: none;
  font-size: 0.75rem;
  background: linear-gradient( 310deg ,#7928ca,#ff0080);
  box-shadow: rgba(0, 0, 0, 0.11) 0px 4px 7px -1px, rgba(0, 0, 0, 0.07) 0px 2px 4px -1px;
  font-style: normal;
  transition: 0.3s;
  font-family: "Inter";
  font-weight: 700;
  line-height: 1.4;
  padding-top: var(--dl-space-space-triplequarterunit);
  border-width: 0px;
  padding-left: var(--dl-space-space-unitandahalfunit);
  border-radius: 1.875rem;
  padding-right: var(--dl-space-space-unitandahalfunit);
  letter-spacing: -0.025rem;
  padding-bottom: var(--dl-space-space-triplequarterunit);
  text-transform: uppercase;
  text-decoration: none;
  background-image: linear-gradient(90deg, rgb(0, 37, 255) 3.00%,rgb(183, 19, 238) 100.00%);
}
.navbar4-link1:hover {
  background-image: linear-gradient(to right, #fc00ff 0%, #00dbde 100%);
}
.navbar4-link2 {
  color: var(--dl-color-gray-white);
  margin: 3px;
  outline: none;
  font-size: 0.75rem;
  background: linear-gradient( 310deg ,#7928ca,#ff0080);
  box-shadow: rgba(0, 0, 0, 0.11) 0px 4px 7px -1px, rgba(0, 0, 0, 0.07) 0px 2px 4px -1px;
  font-style: normal;
  transition: 0.3s;
  font-family: "Inter";
  font-weight: 700;
  line-height: 1.4;
  padding-top: var(--dl-space-space-triplequarterunit);
  border-width: 0px;
  padding-left: var(--dl-space-space-unitandahalfunit);
  border-radius: 1.875rem;
  padding-right: var(--dl-space-space-unitandahalfunit);
  letter-spacing: -0.025rem;
  padding-bottom: var(--dl-space-space-triplequarterunit);
  text-transform: uppercase;
  text-decoration: none;
  background-image: linear-gradient(90deg, rgb(0, 37, 255) 3.00%,rgb(183, 19, 238) 100.00%);
}
.navbar4-link2:hover {
  background-image: linear-gradient(to right, #fc00ff 0%, #00dbde 100%);
}
.navbar4-link3 {
  color: rgb(0, 0, 0);
  margin: 3px;
  outline: none;
  font-size: 0.75rem;
  box-shadow: rgba(0, 0, 0, 0.11) 0px 4px 7px -1px, rgba(0, 0, 0, 0.07) 0px 2px 4px -1px;
  font-style: normal;
  transition: all .15s ease-in;
  font-family: "Inter";
  font-weight: 700;
  line-height: 1.4;
  padding-top: var(--dl-space-space-triplequarterunit);
  border-width: 0px;
  padding-left: var(--dl-space-space-unitandahalfunit);
  border-radius: 1.875rem;
  padding-right: var(--dl-space-space-unitandahalfunit);
  letter-spacing: -0.025rem;
  padding-bottom: var(--dl-space-space-triplequarterunit);
  text-transform: uppercase;
  text-decoration: none;
  background-color: #ffffff;
}
.navbar4-burger-menu {
  display: none;
}
.navbar4-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
@media(max-width: 991px) {
  .navbar4-navbar-interactive {
    background-color: transparent;
  }
  .navbar4-nav {
    height: auto;
    max-width: 960px;
  }
  .navbar4-image {
    height: var(--dl-size-size-small);
  }
  .navbar4-links {
    border-radius: 12px;
  }
  .navbar4-link2 {
    width: auto;
    height: auto;
  }
  .navbar4-link3 {
    width: auto;
    height: auto;
  }
  .navbar4-link4 {
    font-size: 11px;
  }
  .navbar4-image1 {
    width: 10%;
  }
  .navbar4-link {
    width: auto;
    height: auto;
  }
  .navbar4-link1 {
    width: auto;
    height: auto;
  }
}
@media(max-width: 767px) {
  .navbar4-navbar-interactive {
    width: 100%;
    margin-left: 0px;
    padding-left: 0px;
    padding-right: 0px;
  }
  .navbar4-nav {
    max-width: 100%;
  }
  .navbar4-image {
    display: none;
  }
  .navbar4-desktop-menu {
    display: none;
  }
  .navbar4-mobile-menu {
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 30px;
    background-color: transparent;
  }
  .navbar4-container1 {
    width: 100%;
    height: 100%;
    padding: var(--dl-space-space-twounits);
    border-radius: var(--dl-radius-radius-radius40);
    animation-name: fadeInDown;
    animation-delay: 0s;
    background-color: #ffffff;
    animation-duration: 900ms;
    animation-direction: normal;
    animation-iteration-count: 1;
    animation-timing-function: ease;
  }
  .navbar4-nav1 {
    width: 100%;
    height: 100%;
    align-self: center;
  }
  .navbar4-top {
    max-height: var(--dl-size-size-small);
  }
  .navbar4-image1 {
    width: auto;
    height: 100%;
  }
  .navbar4-close-menu {
    height: 100%;
  }
  .navbar4-image2 {
    width: auto;
    height: 60%;
  }
  .navbar4-links1 {
    gap: 0;
    width: 100%;
    height: 80%;
    align-self: center;
    align-items: center;
    justify-content: space-between;
  }
  .navbar4-container2 {
    width: 100%;
  }
  .navbar4-link21 {
    padding: 5px;
    font-size: 24px;
    align-self: flex-end;
    margin-top: 15px;
    text-align: right;
    margin-bottom: 15px;
    text-transform: uppercase;
  }
  .navbar4-link31 {
    padding: 5px;
    font-size: 24px;
    align-self: flex-end;
    margin-top: 15px;
    text-align: right;
    margin-bottom: 15px;
    text-transform: uppercase;
  }
  .navbar4-link41 {
    padding: 5px;
    font-size: 24px;
    align-self: flex-end;
    margin-top: 15px;
    text-align: right;
    margin-bottom: 15px;
    text-transform: uppercase;
  }
  .navbar4-container3 {
    width: 100%;
  }
  .navbar4-link {
    margin: 15px;
    font-size: 1rem;
    align-self: flex-end;
  }
  .navbar4-link1 {
    margin: 15px;
    font-size: 1rem;
    align-self: flex-end;
  }
  .navbar4-link2 {
    font-size: 1rem;
    align-self: center;
  }
  .navbar4-link3 {
    display: none;
  }
  .navbar4-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .navbar4-icon {
    fill: #000000;
    width: 77px;
    height: 53px;
  }
}
@media(max-width: 479px) {
  .navbar4-navbar-interactive {
    padding-top: var(--dl-space-space-unit);
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    justify-content: center;
  }
  .navbar4-image {
    padding: 5px;
  }
  .navbar4-mobile-menu {
    padding-top: 0px;
    padding-left: 0px;
    border-radius: var(--dl-radius-radius-radius40);
    padding-right: 0px;
    padding-bottom: 30px;
  }
  .navbar4-nav1 {
    align-items: center;
  }
  .navbar4-image1 {
    width: auto;
    padding: 5px;
  }
  .navbar4-close-menu {
    height: 100%;
  }
  .navbar4-image2 {
    width: auto;
    height: 60%;
  }
  .navbar4-links1 {
    width: auto;
    height: 60%;
    align-self: center;
    align-items: center;
  }
  .navbar4-container2 {
    width: 100%;
    height: auto;
    justify-content: space-between;
  }
  .navbar4-link21 {
    padding: 5px;
    font-size: 18px;
    margin-top: 15px;
    text-align: right;
    margin-bottom: 15px;
  }
  .navbar4-link31 {
    padding: 5px;
    font-size: 18px;
    margin-top: 15px;
    text-align: right;
    margin-bottom: 15px;
  }
  .navbar4-link41 {
    padding: 5px;
    font-size: 18px;
    margin-top: 15px;
    text-align: right;
    margin-bottom: 15px;
  }
  .navbar4-container3 {
    width: 100%;
    align-items: flex-end;
  }
  .navbar4-link {
    align-self: flex-end;
  }
  .navbar4-link1 {
    align-self: flex-end;
  }
  .navbar4-icon {
    width: 38px;
    height: 45px;
    align-self: center;
  }
}
