.performers-container {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.performers-container01 {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  align-self: center;
  align-items: flex-start;
  flex-direction: column;
}
.performers-heading {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  z-index: 100;
  font-size: 48px;
  max-width: 1200px;
  align-self: center;
  text-align: center;
  padding-top: 30;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 30px;
}
.performers-container02 {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  padding-top: 30px;
  padding-left: 10%;
  padding-right: 10%;
  flex-direction: column;
  padding-bottom: 30px;
  background-size: cover;
  justify-content: flex-end;
  background-image: url("public/map11-1500h.png");
  background-position: center;
}
.performers-container03 {
  flex: 0 0 auto;
  width: 93%;
  height: auto;
  display: flex;
  max-width: 1200px;
  align-self: center;
  align-items: flex-end;
  flex-direction: column;
  justify-content: space-between;
}
.performers-container04 {
  flex: 0 0 auto;
  width: 40%;
  height: auto;
  margin: 10px;
  display: flex;
  padding: 10px;
  max-width: 360px;
  align-items: flex-start;
  border-radius: 30px;
  flex-direction: column;
  backdrop-filter: blur(1px);
  background-color: rgba(255, 255, 255, 0.9);
  -webkit-backdrop-filter: blur(1px);
}
.performers-container05 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.performers-container06 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  border-radius: 18px;
  background-image: linear-gradient(90deg, rgb(0, 37, 255) 3.00%,rgb(183, 19, 238) 100.00%);
}
.performers-image {
  width: 60px;
  object-fit: cover;
}
.performers-text {
  fill: var(--dl-color-theme-neutral-light);
  color: #000000;
  padding: 10px;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
}
.performers-text01 {
  fill: var(--dl-color-theme-neutral-light);
  color: #5c5c5c;
  font-size: 14px;
  padding-top: 15px;
  padding-bottom: 15px;
  text-transform: uppercase;
}
.performers-container07 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}
.performers-container08 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  margin: 3px;
  display: flex;
  padding: 3px;
  align-self: flex-start;
  align-items: flex-start;
  border-color: #808080;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-buttonradius);
  background-color: #F1F1F1;
}
.performers-text02 {
  fill: var(--dl-color-theme-neutral-light);
  color: #818181;
  font-size: 9px;
}
.performers-container09 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  margin: 3px;
  display: flex;
  padding: 3px;
  align-self: flex-start;
  align-items: flex-start;
  border-color: #808080;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-buttonradius);
  background-color: #F1F1F1;
}
.performers-text03 {
  fill: #5c5c5c;
  color: #5c5c5c;
  font-size: 9px;
}
.performers-container10 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  margin: 3px;
  display: flex;
  padding: 3px;
  align-self: flex-start;
  align-items: flex-start;
  border-color: #808080;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-buttonradius);
  background-color: #F1F1F1;
}
.performers-text04 {
  fill: #5c5c5c;
  color: #5c5c5c;
  font-size: 9px;
}
.performers-container11 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  margin: 3px;
  display: flex;
  padding: 3px;
  align-self: flex-start;
  align-items: flex-start;
  border-color: #808080;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-buttonradius);
  background-color: #F1F1F1;
}
.performers-text05 {
  fill: #5c5c5c;
  color: #5c5c5c;
  font-size: 9px;
}
.performers-container12 {
  flex: 0 0 auto;
  width: 40%;
  height: auto;
  margin: 10px;
  display: flex;
  padding: 10px;
  max-width: 360px;
  align-items: flex-start;
  border-radius: 30px;
  flex-direction: column;
  backdrop-filter: blur(1px);
  background-color: rgba(255, 255, 255, 0.9);
  -webkit-backdrop-filter: blur(1px);
}
.performers-container13 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.performers-container14 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  border-radius: 18px;
  background-image: linear-gradient(90deg, rgb(0, 37, 255) 3.00%,rgb(183, 19, 238) 100.00%);
}
.performers-image1 {
  width: 60px;
  object-fit: cover;
}
.performers-text06 {
  fill: #5c5c5c;
  color: #000000;
  padding: 10px;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
}
.performers-text07 {
  fill: #5c5c5c;
  color: #5c5c5c;
  font-size: 14px;
  padding-top: 15px;
  padding-bottom: 15px;
  text-transform: uppercase;
}
.performers-container15 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}
.performers-container16 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  margin: 3px;
  display: flex;
  padding: 3px;
  align-self: flex-start;
  align-items: flex-start;
  border-color: #808080;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-buttonradius);
  background-color: #F1F1F1;
}
.performers-text08 {
  fill: #5c5c5c;
  color: #5c5c5c;
  font-size: 9px;
}
.performers-container17 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  margin: 3px;
  display: flex;
  padding: 3px;
  align-self: flex-start;
  align-items: flex-start;
  border-color: #808080;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-buttonradius);
  background-color: #F1F1F1;
}
.performers-text09 {
  fill: #5c5c5c;
  color: rgb(92, 92, 92);
  font-size: 9px;
}
.performers-container18 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  margin: 3px;
  display: flex;
  padding: 3px;
  align-self: flex-start;
  align-items: flex-start;
  border-color: #808080;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-buttonradius);
  background-color: #F1F1F1;
}
.performers-text10 {
  fill: #5c5c5c;
  color: rgb(92, 92, 92);
  font-size: 9px;
}
.performers-container19 {
  flex: 0 0 auto;
  width: 40%;
  height: auto;
  margin: 10px;
  display: flex;
  padding: 10px;
  max-width: 360px;
  align-items: flex-start;
  border-radius: 30px;
  flex-direction: column;
  backdrop-filter: blur(1px);
  background-color: rgba(255, 255, 255, 0.9);
  -webkit-backdrop-filter: blur(1px);
}
.performers-container20 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.performers-container21 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  border-radius: 18px;
  background-image: linear-gradient(90deg, rgb(0, 37, 255) 3.00%,rgb(183, 19, 238) 100.00%);
}
.performers-image2 {
  width: 60px;
  object-fit: cover;
}
.performers-text11 {
  color: #000000;
  padding: 10px;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
}
.performers-text12 {
  fill: #5c5c5c;
  color: #5c5c5c;
  font-size: 14px;
  padding-top: 15px;
  padding-bottom: 15px;
  text-transform: uppercase;
}
.performers-container22 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}
.performers-container23 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  margin: 3px;
  display: flex;
  padding: 3px;
  align-self: flex-start;
  align-items: flex-start;
  border-color: #808080;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-buttonradius);
  background-color: #F1F1F1;
}
.performers-text13 {
  fill: #5c5c5c;
  color: #5c5c5c;
  font-size: 9px;
}
.performers-container24 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  margin: 3px;
  display: flex;
  padding: 3px;
  align-self: flex-start;
  align-items: flex-start;
  border-color: #808080;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-buttonradius);
  background-color: #F1F1F1;
}
.performers-text14 {
  fill: #5c5c5c;
  color: #5c5c5c;
  font-size: 9px;
}
.performers-container25 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  margin: 3px;
  display: flex;
  padding: 3px;
  align-self: flex-start;
  align-items: flex-start;
  border-color: #808080;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-buttonradius);
  background-color: #F1F1F1;
}
.performers-text15 {
  fill: #5c5c5c;
  color: #5c5c5c;
  font-size: 9px;
}
.performers-container26 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  margin: 3px;
  display: flex;
  padding: 3px;
  align-self: flex-start;
  align-items: flex-start;
  border-color: #808080;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-buttonradius);
  background-color: #F1F1F1;
}
.performers-text16 {
  fill: #5c5c5c;
  color: #5c5c5c;
  font-size: 9px;
}
.performers-container27 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  margin: 3px;
  display: flex;
  padding: 3px;
  align-self: flex-start;
  align-items: flex-start;
  border-color: #808080;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-buttonradius);
  background-color: #F1F1F1;
}
.performers-text17 {
  fill: #5c5c5c;
  color: #5c5c5c;
  font-size: 9px;
}
.performers-container28 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  margin: 3px;
  display: flex;
  padding: 3px;
  align-self: flex-start;
  align-items: flex-start;
  border-color: #808080;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-buttonradius);
  background-color: #F1F1F1;
}
.performers-text18 {
  fill: #5c5c5c;
  color: #5c5c5c;
  font-size: 9px;
}
.performers-container29 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  margin: 3px;
  display: flex;
  padding: 3px;
  align-self: flex-start;
  align-items: flex-start;
  border-color: #808080;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-buttonradius);
  background-color: #F1F1F1;
}
.performers-text19 {
  fill: #5c5c5c;
  color: #5c5c5c;
  font-size: 9px;
}



@media(max-width: 991px) {
  .performers-heading {
    z-index: 100;
    text-align: center;
  }
  .performers-container04 {
    width: 50%;
  }
  .performers-container12 {
    width: 50%;
  }
  .performers-container19 {
    width: 50%;
  }
}
@media(max-width: 767px) {
  .performers-heading {
    color: var(--dl-color-theme-neutral-dark);
    font-size: 48px;
  }
  .performers-text {
    font-size: 16px;
  }
  .performers-text01 {
    font-size: 12px;
  }
  .performers-text06 {
    font-size: 16px;
  }
  .performers-text07 {
    font-size: 12px;
  }
  .performers-text11 {
    font-size: 16px;
  }
  .performers-text12 {
    font-size: 12px;
  }
}
@media(max-width: 479px) {
  .performers-heading {
    font-size: 36px;
  }
  .performers-container02 {
    background-position: center;
  }
  .performers-container04 {
    width: 100%;
    max-width: 100%;
  }
  .performers-container05 {
    align-self: flex-start;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .performers-text {
    align-self: center;
    text-align: center;
    padding-left: 0px;
    padding-right: 0px;
  }
  .performers-text01 {
    align-self: center;
    text-align: center;
  }
  .performers-container07 {
    justify-content: center;
  }
  .performers-container12 {
    width: 100%;
    max-width: 100%;
  }
  .performers-container13 {
    align-items: center;
    flex-direction: column;
  }
  .performers-text06 {
    align-self: center;
    text-align: center;
    padding-left: 0px;
    padding-right: 0px;
  }
  .performers-text07 {
    text-align: center;
  }
  .performers-container15 {
    justify-content: center;
  }
  .performers-container19 {
    width: 100%;
    max-width: 100%;
  }
  .performers-container20 {
    align-items: center;
    flex-direction: column;
  }
  .performers-text11 {
    align-self: center;
    text-align: center;
    padding-left: 0px;
    padding-right: 0px;
  }
  .performers-text12 {
    align-self: center;
    text-align: center;
  }
  .performers-container22 {
    justify-content: center;
  }
}
