.feature-card-container {
  flex: 0 0 auto;
  width: 25%;
  display: flex;
  margin-top: var(--dl-space-space-triplequarterunit);
  align-items: center;
  padding-left: var(--dl-space-space-triplequarterunit);
  padding-right: var(--dl-space-space-triplequarterunit);
  flex-direction: column;
}
.feature-card-image {
  width: 50%;
  height: auto;
  object-fit: cover;
  margin-bottom: var(--dl-space-space-unitandahalfunit);
}
.feature-card-text {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
  margin-bottom: var(--dl-space-space-halfunit);
}
.feature-card-text1 {
  fill: var(--dl-color-secondary-200);
  color: #dcdcdc;
  text-align: center;
  margin-bottom: var(--dl-space-space-unit);
}
.feature-card-root-class-name {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  width: 30%;
  max-width: 30%;
}
.feature-card-root-class-name1 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  width: 30%;
  max-width: 30%;
}
.feature-card-root-class-name2 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  width: 30%;
  max-width: 30%;
}
@media(max-width: 767px) {
  .feature-card-container {
    width: 50%;
  }
}
@media(max-width: 479px) {
  .feature-card-container {
    width: 100%;
  }
  .feature-card-text1 {
    text-transform: capitalize;
  }
  .feature-card-root-class-name {
    width: 100%;
    max-width: 100%;
  }
  .feature-card-root-class-name1 {
    width: 100%;
    max-width: 100%;
  }
  .feature-card-root-class-name2 {
    width: 100%;
    max-width: 100%;
  }
}

.problems-we-solve-container {
  width: 100%;
  height: 1006px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.problems-we-solve-container1 {
  width: 93%;
  height: auto;
  display: flex;
  max-width: 1200px;
  align-self: center;
  align-items: center;
  padding-top: 120px;
  padding-left: 0px;
  padding-right: 0px;
  flex-direction: column;
  padding-bottom: 0px;
  justify-content: center;
}
.problems-we-solve-container2 {
  top: 1rem;
  width: auto;
  display: flex;
  position: sticky;
  max-width: auto;
  align-self: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.problems-we-solve-text {
  fill: var(--dl-color-theme-neutral-dark);
  color: #ffffff;
  padding: 15px;
  font-size: 64px;
  align-self: center;
  font-style: normal;
  text-align: center;
  font-weight: 900;
  text-transform: uppercase;
}
.problems-we-solve-text1 {
  fill: #dcdcdc;
  color: #dcdcdc;
  padding: 15px;
  font-size: 24px;
  align-self: center;
  font-style: normal;
  text-align: center;
  font-weight: 600;
  text-transform: uppercase;
}
.problems-we-solve-container3 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  max-width: auto;
  align-items: flex-start;
  padding-top: var(--dl-space-space-tripleunit);
  flex-direction: row;
  justify-content: space-between;
}
.problems-we-solve-root-class-name {
  height: auto;
  margin-top: 60px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 60px;
}
.problems-we-solve-root-class-name1 {
  height: auto;
  margin-top: 60px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 60px;
}
.problems-we-solve-root-class-name2 {
  height: auto;
  margin-top: 60px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 60px;
}
@media(max-width: 991px) {
  .problems-we-solve-container {
    height: auto;
  }
  .problems-we-solve-text {
    font-size: 48px;
  }
  .problems-we-solve-text1 {
    font-size: 20px;
  }
}
@media(max-width: 767px) {
  .problems-we-solve-container {
    height: auto;
  }
  .problems-we-solve-container1 {
    align-items: center;
    flex-direction: column;
  }
  .problems-we-solve-container2 {
    max-width: 100%;
    margin-right: 0px;
    flex-direction: column;
  }
  .problems-we-solve-text {
    align-self: center;
    text-align: center;
  }
  .problems-we-solve-text1 {
    align-self: center;
    text-align: center;
  }
  .problems-we-solve-container3 {
    max-width: 100%;
  }
}
@media(max-width: 479px) {
  .problems-we-solve-text {
    font-size: 42px;
  }
  .problems-we-solve-text1 {
    font-size: 18px;
    text-transform: capitalize;
  }
  .problems-we-solve-container3 {
    align-items: center;
    flex-direction: column;
  }
}
