.input-form-container {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  padding-top: 30px;
  flex-direction: column;
  padding-bottom: 30px;
}
.input-form-card {
  flex: 0 0 auto;
  width: 93%;
  display: flex;
  padding: var(--dl-space-space-tripleunit);
  z-index: 1;
  max-width: 1200px;
  align-self: center;
  box-shadow: 0 8px 26px -4px hsla(0,0%,8%,.15),0 8px 9px -5px hsla(0,0%,8%,.06)!important;
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-radius1);
  flex-direction: column;
  backdrop-filter: saturate(200%) blur(30px);
  background-color: hsla(0,0%,100%,.8);
}
.input-form-container1 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.input-form-container2 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  max-width: 100%;
  align-items: flex-start;
  flex-direction: column;
}
.input-form-text {
  font-size: 3em;
  text-align: left;
  text-transform: uppercase;
  background-image: linear-gradient(90deg, rgb(0, 37, 255) 3%, rgb(183, 19, 238) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.input-form-text1 {
  color: var(--dl-color-secondary-700);
  font-size: 3em;
  text-align: left;
  margin-bottom: var(--dl-space-space-unitandahalfunit);
}
.input-form-text2 {
  color: var(--dl-color-secondary-600);
  font-size: 20px;
  text-align: left;
  margin-right: var(--dl-space-space-tripleunit);
  margin-bottom: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-tripleunit);
}
.input-form-container3 {
  display: flex;
  margin-top: var(--dl-space-space-unitandahalfunit);
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
}
.input-form-link {
  color: rgb(0, 0, 0);
  outline: none;
  font-size: 1rem;
  box-shadow: rgba(0, 0, 0, 0.11) 0px 4px 7px -1px, rgba(0, 0, 0, 0.07) 0px 2px 4px -1px;
  font-style: normal;
  margin-top: 15px;
  transition: all .15s ease-in;
  font-family: "Inter";
  font-weight: 700;
  line-height: 1.4;
  margin-left: 0px;
  padding-top: var(--dl-space-space-triplequarterunit);
  border-width: 0px;
  margin-right: 15px;
  padding-left: var(--dl-space-space-unitandahalfunit);
  border-radius: 1.875rem;
  margin-bottom: 15px;
  padding-right: var(--dl-space-space-unitandahalfunit);
  letter-spacing: -0.025rem;
  padding-bottom: var(--dl-space-space-triplequarterunit);
  text-transform: uppercase;
  text-decoration: none;
  background-color: #ffffff;
}
.input-form-link1 {
  color: var(--dl-color-gray-white);
  outline: none;
  font-size: 1rem;
  background: linear-gradient( 310deg ,#7928ca,#ff0080);
  box-shadow: rgba(0, 0, 0, 0.11) 0px 4px 7px -1px, rgba(0, 0, 0, 0.07) 0px 2px 4px -1px;
  font-style: normal;
  margin-top: 15px;
  transition: 0.3s;
  font-family: "Inter";
  font-weight: 700;
  line-height: 1.4;
  margin-left: 15px;
  padding-top: var(--dl-space-space-triplequarterunit);
  border-width: 0px;
  margin-right: 0px;
  padding-left: var(--dl-space-space-unitandahalfunit);
  border-radius: 1.875rem;
  margin-bottom: 15px;
  padding-right: var(--dl-space-space-unitandahalfunit);
  letter-spacing: -0.025rem;
  padding-bottom: var(--dl-space-space-triplequarterunit);
  text-transform: uppercase;
  text-decoration: none;
  background-image: linear-gradient(90deg, rgb(0, 37, 255) 3.00%,rgb(183, 19, 238) 100.00%);
}
.input-form-link1:hover {
  background-image: linear-gradient(to right, #fc00ff 0%, #00dbde 100%);
}



@media(max-width: 991px) {
  .input-form-card {
    width: 93%;
  }
  .input-form-container2 {
    width: 100%;
    align-items: center;
  }
  .input-form-text {
    font-size: 2em;
  }
  .input-form-text1 {
    font-size: 2em;
    text-align: left;
  }
  .input-form-text2 {
    font-size: 18px;
    text-align: center;
    margin-right: 0px;
    padding-right: 0px;
  }
  .input-form-container3 {
    align-self: center;
  }
  .input-form-link {
    width: auto;
    height: auto;
  }
  .input-form-link1 {
    width: auto;
    height: auto;
  }
}
@media(max-width: 767px) {
  .input-form-card {
    align-items: center;
  }
  .input-form-text {
    text-align: center;
  }
  .input-form-text1 {
    text-align: center;
  }
  .input-form-text2 {
    text-align: center;
    margin-right: 0px;
    padding-right: 0px;
  }
  .input-form-link1 {
    font-size: 1rem;
    align-self: center;
  }
}
@media(max-width: 479px) {
  .input-form-card {
    padding: var(--dl-space-space-unit);
  }
  .input-form-container1 {
    flex-direction: column;
  }
  .input-form-container2 {
    max-width: 100%;
    align-items: center;
  }
  .input-form-text {
    text-align: center;
  }
  .input-form-text1 {
    text-align: center;
  }
  .input-form-text2 {
    text-align: center;
  }
  .input-form-container3 {
    align-items: center;
    flex-direction: row;
  }
}
