.process-container {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  background-color: #000000;
}
.process-image {
  left: 0px;
  right: 0px;
  width: 100%;
  bottom: 0;
  margin: auto;
  z-index: 1;
  position: absolute;
  object-fit: cover;
}
.process-image1 {
  top: 0;
  left: 0px;
  right: 0px;
  width: 100%;
  margin: auto;
  z-index: 1;
  position: absolute;
  object-fit: cover;
}
.process-container01 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  padding-top: 10px;
  border-color: #000000;
  border-width: 3px;
  padding-left: 0px;
  padding-right: 0px;
  flex-direction: column;
  padding-bottom: 10px;
}
.process-container02 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-self: center;
  align-items: flex-start;
  flex-direction: column;
  background-image: radial-gradient(circle at center, rgb(0, 37, 255) 3.00%,rgb(183, 19, 238) 100.00%);
}
.process-container03 {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  z-index: 100;
  align-items: flex-start;
  padding-top: 120px;
  flex-direction: column;
  padding-bottom: 120px;
}
.process-container04 {
  flex: 0 0 auto;
  width: 93%;
  height: auto;
  display: flex;
  padding: 15px;
  z-index: 100;
  max-width: 1200px;
  align-self: center;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.process-container05 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.process-text {
  color: rgb(255, 255, 255);
  padding: 15px;
  font-size: 48px;
  min-width: 270px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  text-transform: uppercase;
}
.process-text1 {
  color: #ffffff;
  padding: 15px;
  max-width: 400px;
  align-self: flex-start;
  text-align: left;
  text-transform: uppercase;
}
.process-image2 {
  width: 100%;
  height: auto;
  padding: 15px;
  max-width: 450px;
  object-fit: cover;
  border-radius: 30px;
}
.process-container06 {
  flex: 0 0 auto;
  width: 93%;
  height: auto;
  display: flex;
  padding: 15px;
  z-index: 100;
  max-width: 1200px;
  align-self: center;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.process-container07 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  max-width: 50%;
  align-items: flex-start;
  flex-direction: column;
}
.process-text2 {
  color: rgb(255, 255, 255);
  padding: 15px;
  font-size: 48px;
  max-width: 100%;
  min-width: 270px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  text-transform: uppercase;
}
.process-text3 {
  color: #ffffff;
  padding: 15px;
  max-width: 400px;
  align-self: flex-start;
  text-align: left;
  text-transform: uppercase;
}
.process-image3 {
  width: 100%;
  height: auto;
  padding: 15px;
  max-width: 50%;
  object-fit: cover;
  border-radius: 30px;
}
.process-container08 {
  flex: 0 0 auto;
  width: 93%;
  height: auto;
  display: flex;
  padding: 15px;
  z-index: 100;
  max-width: 1200px;
  align-self: center;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.process-container09 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.process-text4 {
  color: rgb(255, 255, 255);
  padding: 15px;
  font-size: 48px;
  min-width: 270px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  text-transform: uppercase;
}
.process-text5 {
  color: #ffffff;
  padding: 15px;
  max-width: 400px;
  align-self: flex-start;
  text-align: left;
  text-transform: uppercase;
}
.process-image4 {
  width: 100%;
  height: auto;
  padding: 15px;
  max-width: 450px;
  object-fit: cover;
  border-radius: 30px;
}
.process-container10 {
  flex: 0 0 auto;
  width: 93%;
  height: auto;
  display: flex;
  padding: 15px;
  z-index: 100;
  max-width: 1200px;
  align-self: center;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.process-container11 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  max-width: 50%;
  align-items: flex-start;
  flex-direction: column;
}
.process-text6 {
  color: rgb(255, 255, 255);
  padding: 15px;
  font-size: 48px;
  max-width: 100%;
  min-width: 270px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  text-transform: uppercase;
}
.process-text7 {
  color: #ffffff;
  padding: 15px;
  max-width: 400px;
  align-self: flex-start;
  text-align: left;
  text-transform: uppercase;
}
.process-image5 {
  width: 100%;
  height: auto;
  padding: 15px;
  max-width: 450px;
  object-fit: cover;
  border-radius: 30px;
}
.process-root-class-name {
  background-image: radial-gradient(circle at center, rgb(0, 37, 255) 3.00%,rgb(183, 19, 238) 100.00%);
}
.process-root-class-name1 {
  background-image: radial-gradient(circle at center, rgb(0, 37, 255) 3.00%,rgb(183, 19, 238) 100.00%);
}
.process-root-class-name2 {
  background-image: radial-gradient(circle at center, rgb(0, 37, 255) 3.00%,rgb(183, 19, 238) 100.00%);
}
@media(max-width: 991px) {
  .process-container02 {
    margin: 1px;
  }
  .process-container03 {
    width: 99%;
    align-self: center;
  }
  .process-text1 {
    font-size: 14px;
  }
  .process-image2 {
    max-width: 300px;
    animation-name: fadeInRight;
    animation-delay: 0s;
    animation-duration: 1300ms;
    animation-direction: normal;
    animation-iteration-count: 1;
    animation-timing-function: ease;
  }
  .process-text3 {
    font-size: 14px;
  }
  .process-image3 {
    max-width: 300px;
  }
  .process-text5 {
    font-size: 14px;
  }
  .process-image4 {
    max-width: 300px;
  }
  .process-text7 {
    font-size: 14px;
  }
  .process-image5 {
    max-width: 300px;
  }
}
@media(max-width: 767px) {
  .process-container01 {
    padding-top: 7px;
    padding-bottom: 7px;
  }
  .process-container04 {
    flex-direction: column;
  }
  .process-container05 {
    align-items: center;
  }
  .process-text {
    font-size: 48px;
    min-width: auto;
    text-align: center;
  }
  .process-text1 {
    font-size: 14px;
    align-self: center;
    text-align: center;
  }
  .process-image2 {
    width: auto;
    max-width: 100%;
    align-self: center;
    max-height: 600px;
  }
  .process-container06 {
    flex-direction: column;
  }
  .process-container07 {
    max-width: 100%;
    align-items: center;
  }
  .process-text2 {
    font-size: 48px;
    max-width: 100%;
    min-width: auto;
    text-align: center;
  }
  .process-text3 {
    font-size: 14px;
    align-self: center;
    text-align: center;
  }
  .process-image3 {
    width: auto;
    max-width: 100%;
    align-self: center;
    max-height: 600px;
  }
  .process-container08 {
    flex-direction: column;
  }
  .process-container09 {
    align-items: center;
  }
  .process-text4 {
    font-size: 36px;
    min-width: auto;
    text-align: center;
  }
  .process-text5 {
    font-size: 14px;
    align-self: center;
    text-align: center;
  }
  .process-image4 {
    width: auto;
    max-width: 100%;
    align-self: center;
    max-height: 600px;
  }
  .process-container10 {
    flex-direction: column;
  }
  .process-container11 {
    max-width: 100%;
    align-items: center;
  }
  .process-text6 {
    font-size: 36px;
    min-width: auto;
    text-align: center;
  }
  .process-text7 {
    font-size: 14px;
    align-self: center;
    text-align: center;
  }
  .process-image5 {
    width: auto;
    max-width: 100%;
    align-self: center;
    max-height: 600px;
  }
}
@media(max-width: 479px) {
  .process-container01 {
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .process-container04 {
    flex-direction: column;
  }
  .process-text {
    font-size: 36px;
    text-align: center;
  }
  .process-text1 {
    text-align: center;
  }
  .process-image2 {
    max-width: 100%;
  }
  .process-container06 {
    flex-direction: column;
  }
  .process-text2 {
    color: rgb(255, 255, 255);
    font-size: 36px;
    text-align: center;
    text-transform: uppercase;
  }
  .process-text3 {
    text-align: center;
  }
  .process-image3 {
    max-width: 100%;
  }
  .process-container08 {
    flex-direction: column;
  }
  .process-text4 {
    color: rgb(255, 255, 255);
    font-size: 36px;
    text-align: center;
    text-transform: uppercase;
  }
  .process-text5 {
    color: rgb(255, 255, 255);
    text-align: center;
    text-transform: uppercase;
  }
  .process-image4 {
    max-width: 100%;
  }
  .process-container10 {
    flex-direction: column;
  }
  .process-text6 {
    color: rgb(255, 255, 255);
    font-size: 36px;
    text-align: center;
    text-transform: uppercase;
  }
  .process-text7 {
    color: rgb(255, 255, 255);
    text-align: center;
    text-transform: uppercase;
  }
  .process-image5 {
    max-width: 100%;
  }
}
