.they-trust-us-container {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.they-trust-us-container01 {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  z-index: 100;
  align-self: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.they-trust-us-text {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  font-size: 48px;
  font-style: normal;
  font-weight: 800;
  padding-top: 60px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  text-transform: uppercase;
}
.they-trust-us-container02 {
  flex: 0 0 auto;
  width: 93%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  align-items: center;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  justify-content: center;
}
.they-trust-us-container03 {
  flex: 0 0 auto;
  width: 200px;
  height: 120px;
  margin: 10px;
  display: flex;
  align-items: center;
  border-radius: 12px;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
}
.they-trust-us-image {
  width: 100%;
  padding: 15px;
  object-fit: cover;
}
.they-trust-us-container04 {
  flex: 0 0 auto;
  width: 200px;
  height: 120px;
  margin: 10px;
  display: flex;
  align-items: center;
  border-radius: 12px;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
}
.they-trust-us-image1 {
  width: 100%;
  padding: 15px;
  object-fit: cover;
}
.they-trust-us-container05 {
  flex: 0 0 auto;
  width: 200px;
  height: 120px;
  margin: 10px;
  display: flex;
  align-items: center;
  border-radius: 12px;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
}
.they-trust-us-image2 {
  width: 100%;
  padding: 15px;
  object-fit: cover;
}
.they-trust-us-container06 {
  flex: 0 0 auto;
  width: 200px;
  height: 120px;
  margin: 10px;
  display: flex;
  align-items: center;
  border-radius: 12px;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
}
.they-trust-us-image3 {
  width: 100%;
  padding: 15px;
  object-fit: cover;
}
.they-trust-us-container07 {
  flex: 0 0 auto;
  width: 200px;
  height: 120px;
  margin: 10px;
  display: flex;
  align-items: center;
  border-radius: 12px;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
}
.they-trust-us-image4 {
  width: 100%;
  padding: 15px;
  object-fit: cover;
}
.they-trust-us-container08 {
  flex: 0 0 auto;
  width: 200px;
  height: 120px;
  margin: 10px;
  display: flex;
  align-items: center;
  border-radius: 12px;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
}
.they-trust-us-image5 {
  width: 100%;
  padding: 15px;
  object-fit: cover;
}
.they-trust-us-container09 {
  flex: 0 0 auto;
  width: 200px;
  height: 120px;
  margin: 10px;
  display: flex;
  align-items: center;
  border-radius: 12px;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
}
.they-trust-us-image6 {
  width: 100%;
  padding: 15px;
  object-fit: cover;
}
.they-trust-us-container10 {
  flex: 0 0 auto;
  width: 200px;
  height: 120px;
  margin: 10px;
  display: flex;
  align-items: center;
  border-radius: 12px;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
}
.they-trust-us-image7 {
  width: 100%;
  padding: 15px;
  object-fit: cover;
}
.they-trust-us-container11 {
  flex: 0 0 auto;
  width: 200px;
  height: 120px;
  margin: 10px;
  display: flex;
  align-items: center;
  border-radius: 12px;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
}
.they-trust-us-image8 {
  width: 100%;
  padding: 15px;
  object-fit: cover;
}



@media(max-width: 991px) {
  .they-trust-us-container {
    height: 100%;
  }
  .they-trust-us-container02 {
    flex-wrap: wrap;
    flex-direction: row;
  }
}
@media(max-width: 767px) {
  .they-trust-us-container {
    height: 100%;
  }
  .they-trust-us-text {
    text-align: center;
    padding-top: 60px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
  }
}
@media(max-width: 479px) {
  .they-trust-us-container {
    height: 100%;
  }
  .they-trust-us-text {
    padding-top: 60px;
  }
  .they-trust-us-container03 {
    width: 100px;
    height: 70px;
  }
  .they-trust-us-image {
    width: 100%;
  }
  .they-trust-us-container04 {
    width: 100px;
    height: 70px;
  }
  .they-trust-us-image1 {
    width: 100%;
  }
  .they-trust-us-container05 {
    width: 100px;
    height: 70px;
  }
  .they-trust-us-image2 {
    width: 100%;
  }
  .they-trust-us-container06 {
    width: 100px;
    height: 70px;
  }
  .they-trust-us-image3 {
    width: 100%;
  }
  .they-trust-us-container07 {
    width: 100px;
    height: 70px;
  }
  .they-trust-us-image4 {
    width: 100%;
  }
  .they-trust-us-container08 {
    width: 100px;
    height: 70px;
  }
  .they-trust-us-image5 {
    width: 100%;
  }
  .they-trust-us-container09 {
    width: 100px;
    height: 70px;
  }
  .they-trust-us-image6 {
    width: 100%;
  }
  .they-trust-us-container10 {
    width: 100px;
    height: 70px;
  }
  .they-trust-us-image7 {
    width: 100%;
  }
  .they-trust-us-container11 {
    width: 100px;
    height: 70px;
  }
  .they-trust-us-image8 {
    width: 100%;
  }
}
