.navbar-interactive-wrapper {
  display: contents;
  position: sticky;
  position: -webkit-sticky;
  top: 0; /* required */
  background-color: black;
}
.navbar-interactive-container {
  display: flex;
  position: sticky;
  position: -webkit-sticky;
  top: 0; /* required */
  background-color: black;
    width: 100%;
}
.navbar-interactive-navbar-interactive {
  width: 100%;
  display: flex;
  position: sticky;
  position: -webkit-sticky;
  top: 0; /* required */
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.navbar-interactive-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.navbar-interactive-links1 {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.navbar-interactive-navlink1 {
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navbar-interactive-navlink2 {
  display: contents;
}
.navbar-interactive-image1 {
  height: 2rem;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navbar-interactive-navlink3 {
  height: var(--dl-size-size-xsmall);
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navbar-interactive-burger-menu {
  display: none;
}
.navbar-interactive-icon1 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.navbar-interactive-image2 {
  height: 2rem;
  margin-left: var(--dl-space-space-twounits);
}
.navbar-interactive-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: flex;
  padding: 32px;
  z-index: 100;
  position: absolute;
  transform: translateY(-100%);
  transition: 0.5s;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.navbar-interactive-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.navbar-interactive-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.navbar-interactive-navlink4 {
  display: contents;
}
.navbar-interactive-logo {
  height: 2rem;
  text-decoration: none;
}
.navbar-interactive-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar-interactive-icon3 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.navbar-interactive-links2 {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.navbar-interactive-text10 {
  font-size: 36px;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.navbar-interactive-navlink5 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.navbar-interactive-icon5 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.gallery-fragment13 {
  display: contents;
}
.gallery-text18 {
  display: inline-block;
}
.gallery-fragment10 {
  display: contents;
}
.gallery-text10 {
  display: inline-block;
}
.gallery-fragment12 {
  display: contents;
}
.gallery-text15 {
  display: inline-block;
}
.gallery-fragment11 {
  display: contents;
}
.gallery-text11 {
  display: inline-block;
}
.navbar-interactiveroot-class-name {
  z-index: 300;
  align-self: center;
}
.navbar-interactiveroot-class-name1 {
  z-index: 300;
}
.navbar-interactiveroot-class-name2 {
  z-index: 300;
}
@media(max-width: 767px) {
  .navbar-interactive-navbar-interactive {
    align-self: center;
    align-items: center;
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
    flex-direction: row;
    justify-content: center;
  }
  .navbar-interactive-burger-menu {
    align-items: center;
    justify-content: center;
  }
  .navbar-interactive-image2 {
    align-self: center;
    margin-left: 0px;
  }
  .navbar-interactive-text10 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .navbar-interactive-navlink5 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .navbar-interactive-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .navbar-interactive-desktop-menu {
    display: none;
  }
  .navbar-interactive-burger-menu {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .navbar-interactive-mobile-menu {
    padding: 16px;
    z-index: 300;
    background-color: #000000;
  }
  .navbar-interactive-icon5 {
    width: var(--dl-size-size-small);
    height: var(--dl-size-size-small);
  }
  .navbar-interactiveroot-class-name {
    width: 100%;
  }
  .navbar-interactiveroot-class-name1 {
    width: 100%;
  }
  .navbar-interactiveroot-class-name2 {
    width: 100%;
  }
}

.gallery7-wrapper {
  display: contents;
}
.gallery7-gallery3 {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
.gallery7-max-width {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.gallery7-container1 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.gallery7-content {
  gap: var(--dl-space-space-oneandhalfunits);
  flex: 1;
  width: 100%;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
.gallery7-container2 {
  gap: var(--dl-space-space-oneandhalfunits);
  flex: 1;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.gallery7-image1 {
  width: 100%;
  height: 440px;
  object-fit: cover;
}
.gallery7-image2 {
  width: 100%;
  height: 440px;
  object-fit: cover;
}
.gallery7-container3 {
  gap: var(--dl-space-space-oneandhalfunits);
  flex: 1;
  width: auto;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.gallery7-image3 {
  width: 100%;
  height: 240px;
  object-fit: cover;
}
.gallery7-image4 {
  width: 100%;
  height: 440px;
  object-fit: cover;
}
.gallery7-image5 {
  width: 100%;
  height: 240px;
  object-fit: cover;
}
.gallery7-container4 {
  gap: var(--dl-space-space-oneandhalfunits);
  flex: 1;
  width: auto;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.gallery7-image6 {
  width: 100%;
  height: 440px;
  object-fit: cover;
}
.gallery7-image7 {
  width: 100%;
  height: 440px;
  object-fit: cover;
}
@media(max-width: 991px) {
  .gallery7-content {
    align-items: center;
    flex-direction: column;
  }
  .gallery7-container2 {
    width: 100%;
  }
  .gallery7-image1 {
    flex: 0 0 auto;
    width: 100%;
  }
  .gallery7-container3 {
    width: 100%;
  }
  .gallery7-container4 {
    width: 100%;
  }
}

.footer15-wrapper {
  display: contents;
}
.footer15-container1 {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #000000;
}
.footer15-max-width {
  display: flex;
  flex-direction: column;
}
.footer15-content {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  padding-top: var(--dl-space-space-twounits);
  padding-left: 0px;
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: 0px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: flex-start;
}
.footer15-actions {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
}
.footer15-newsletter {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 50%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.footer15-link1 {
  font-size: 24px;
  text-decoration:   none;
}
.footer15-content13 {
  text-decoration: none;
}
.footer15-media {
  width: 50%;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}
.footer15-container2 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: center;
  flex-direction: column;
}
.footer15-navlink {
  display: contents;
}
.footer15-image1 {
  height: 4rem;
  text-decoration: none;
}
.footer15-social-links {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.footer15-link2 {
  display: contents;
}
.footer15-icon1 {
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  text-decoration: none;
}
.footer15-credits1 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: auto;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.footer15-row {
  flex: 1;
  display: flex;
  align-self: center;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: space-between;
}
.footer15-credits2 {
  gap: var(--dl-space-space-twounits);
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.footer15-content3 {
  align-self: center;
}
.gallery-fragment16 {
  display: contents;
}
.gallery-text23 {
  display: inline-block;
}
.gallery-fragment17 {
  display: contents;
}
.gallery-text26 {
  display: inline-block;
}
.gallery-fragment19 {
  display: contents;
}
.gallery-text28 {
  display: inline-block;
}
.gallery-text29 {
  font-size: 14px;
  text-decoration: underline;
}
.gallery-fragment15 {
  display: contents;
}
.gallery-text22 {
  display: inline-block;
}
.gallery-fragment14 {
  display: contents;
}
.gallery-text21 {
  display: inline-block;
  text-decoration: underline;
}
.gallery-fragment20 {
  display: contents;
}
.gallery-text31 {
  display: inline-block;
}
.gallery-fragment18 {
  display: contents;
}
.gallery-text27 {
  display: inline-block;
}
.footer15root-class-name {
  align-self: center;
}


@media(max-width: 991px) {
  .footer15-content {
    flex-direction: row;
  }
  .footer15-newsletter {
    width: 50%;
  }
  .footer15-link1 {
    font-size: 24px;
    text-decoration: underline;
  }
  .footer15-media {
    width: 50%;
  }
  .footer15-image1 {
    height: 4rem;
  }
  .footer15-credits1 {
    flex-direction: column;
  }
  .footer15-row {
    align-items: center;
    flex-direction: row;
    justify-content: center;
  }
  .footer15-content3 {
    align-self: center;
  }
}
@media(max-width: 767px) {
  .footer15-content {
    gap: var(--dl-space-space-twounits);
    width: auto;
    align-self: stretch;
    flex-direction: column;
  }
  .footer15-actions {
    width: 100%;
    align-items: flex-start;
    flex-direction: column;
  }
  .footer15-newsletter {
    width: 100%;
  }
  .footer15-media {
    width: 100%;
    align-items: center;
  }
  .footer15-credits1 {
    flex-direction: column;
  }
  .footer15-row {
    padding: 0px;
    padding-right: 0px;
    flex-direction: column;
  }
  .footer15-credits2 {
    width: auto;
    align-self: stretch;
    justify-content: space-between;
  }
}
@media(max-width: 479px) {
  .footer15-content {
    gap: var(--dl-space-space-twounits);
  }
  .footer15-newsletter {
    width: 100%;
  }
  .footer15-link1 {
    font-size: 18px;
  }
  .footer15-media {
    width: 100%;
  }
  .footer15-image1 {
    height: 3rem;
  }
  .footer15-social-links {
    align-items: center;
    justify-content: center;
  }
  .footer15-row {
    align-items: center;
    justify-content: center;
  }
  .footer15-credits2 {
    gap: var(--dl-space-space-oneandhalfunits);
    flex-direction: column;
    justify-content: flex-start;
  }
}

.gallery-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.gallery-fragment10 {
  display: contents;
}
.gallery-text10 {
  display: inline-block;
}
.gallery-fragment11 {
  display: contents;
}
.gallery-text11 {
  display: inline-block;
}
.gallery-fragment12 {
  display: contents;
}
.gallery-text15 {
  display: inline-block;
}
.gallery-fragment13 {
  display: contents;
}
.gallery-text18 {
  display: inline-block;
}
.gallery-fragment14 {
  display: contents;
}
.gallery-text21 {
  display: inline-block;
  text-decoration: underline;
}
.gallery-fragment15 {
  display: contents;
}
.gallery-text22 {
  display: inline-block;
}
.gallery-fragment16 {
  display: contents;
}
.gallery-text23 {
  display: inline-block;
}
.gallery-fragment17 {
  display: contents;
}
.gallery-text26 {
  display: inline-block;
}
.gallery-fragment18 {
  display: contents;
}
.gallery-text27 {
  display: inline-block;
}
.gallery-fragment19 {
  display: contents;
}
.gallery-text28 {
  display: inline-block;
}
.gallery-text29 {
  font-size: 14px;
  text-decoration: underline;
}
.gallery-fragment20 {
  display: contents;
}
.gallery-text31 {
  display: inline-block;
}
